<%= turbo_stream_from current_company, "quotes" %>

<main class="container mx-auto">
  <div class="flex items-center justify-between py-6 border-b">
    <h1 class="text-3xl font-bold">Quotes</h1>
    <%= link_to "New quote", new_quote_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline",  data: { turbo_frame: dom_id(Quote.new) } %>
  </div>

  <%= turbo_frame_tag Quote.new do %>
    <% if @quotes.none? %>
      <%= render "quotes/empty_state" %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag "quotes" do %>
    <%= render @quotes %>
  <% end %>
</main>
